<h1>Client Details</h1>

<h2>Name</h2>
<h3><%= @client.name %></h3>

<h2>Phone</h2>
<h3><%= @client.phone_number %></h3>

<h2>Email</h2>
<h3><%= @client.email %></h3>

<h2>Age</h2>
<h3><%= @client.age %></h3>

 <a class="btn btn-primary" href="/clients/<%=@client.id%>/edit" role="button">Edit</a><br><br>

 <form method="post" action='/clients/<%=@client.id%>'>
            <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="id" value="<%=@client.id%>">
                <input type="submit" value="Delete" class="btn btn-primary">
            </form>
