<h1 class="display-1 text-center">Resource Details</h1>

<div class="container">
    <div class="row">
    <div class="col-md-4">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="<%=@resource.maps_link%>" allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-4 offset-md-4">
            <u>
                <h1 class="display-4 text-left">Name</h1>
            </u>
            <h3><%= @resource.name %></h3>

            <u>
                <h1 class="display-4 text-left">Address</h1>
            </u>
            <h3><%= @resource.address %></h3>

            <u>
                <h1 class="display-4 text-left">Phone</h1>
            </u>
            <h3><%= @resource.phone_number %></h3>

            <u>
                <h1 class="display-4 text-left">Categories</h1>
            </u>
            <h3><%= @resource.categories %></h3>

            <u>
                <h1 class="display-4 text-left">Description</h1>
            </u>
            <h3><%= @resource.description %></h3>

            <u>
                <h1 class="display-4 text-left">Hours</h1>
            </u>
            <h3><%= @resource.hours %></h3>

            <u>
                <h1 class="display-4 text-left">Web</h1>
            </u>
            <h3><%= link_to @resource.web_address, @resource.web_address %></h3><br>

            <a class="btn btn-primary" href="/resources/<%=@resource.id%>/edit" role="button">Edit</a><br><br>

            <form method="post" action='/resources/<%=@resource.id%>'>
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="id" value="<%=@resource.id%>">
                <input type="submit" value="Delete" class="btn btn-primary"><br><br>
            </form>
        </div>
    </div>
</div>